* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: #222;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.notes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.note {
  background-color: #565656;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 15rem;
}
h1 {
  line-height: 2rem;
  padding-bottom: 1rem;
}
